* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: rgb(246, 249, 252);
}

.truck{
  height: 20px;
  width: 90px;
  background-color: red;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: -10px;
  animation: truckmove 5s ease-out 0s 5 normal;
}

@keyframes truckmove {
  0%{
    left: -10px;
  }
  100%{
    left: 101%;
  }
}

button{
  color: white;
  background-color: blue;
  padding: 10px;
  font-size: 20px;
  position: relative;
  top: 200px;
  left: 200px;
  border-radius: 10px;
  /* overflow: hidden; */
}
.wave{
  position: absolute;
  background-color: yellow;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  opacity: 0;
  animation: waveEffect 1s 0s infinite ease ;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

}

@keyframes waveEffect{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
    transform: scale(1.2);
  }
  100%{
    opacity: 0;

  }
}